@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo');
@import url('https://fonts.googleapis.com/css?family=Special+Elite');



.App {
  height: 100%;
  text-align: center;
  font-family: 'Special Elite', cursive;
  color: black;
  background-image: url('./Components/roadpic2.jpeg');
  background-attachment: fixed;
}

/* navigation header! */
.nav--mainNav--containAllLinks{
  width: 100%;
  height: 100px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background: black;
  border-bottom: #F4D812 dashed 5px;
}

.logo--navLogo-takeToHomePage > a {
  display: flex;
  margin: 24px;
  margin-top: 16px;
  margin-left: 25%;
  text-decoration: none;
  color: white;
  font-size: 40px;
  text-shadow: 0px 2px #F4D812;
}

.navList--links--takeToDifferentComponents{
  display: flex;
  list-style: none;
  margin: 24px;
  margin-right: 10%;
  margin-top: 16px;
  color: white;
  
} 
.list--link--takeToLogin > a {
  padding-right: 2em;
  text-decoration: none;
  margin-top: 16px;
  color: white;
}

.list--link--takeToFeed > a {
  text-decoration: none;
  padding-right: 2em;
  margin-top: 16px;
  color: white;
} 
.list--link--takeToPost > a {
  text-decoration: none;
  margin-top: 16px;
  color: white;
}

/* photostream! */
.photoStream{
  width: 60%;
  margin: 0 20% 0 20%;
  background-color: black;
  padding-top: 10px;

  padding-bottom: 20px;
  
}
.photoStream--photoContain{
  display: flex;
  flex-direction: column;
  height: auto;
  width: 350px;
  margin: 20px auto;
}
.photoStream--photoContain--photo{
  display: flex;
  /* position: absolute; */
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  border: 2px solid black;
  background: #140e36;
}
.photoStream--photoContain--photo:hover{
  border: 3px #F4D812 dashed;
}
.photoStream--photoContain--photoDetails{
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 20px;
}
.photoStream--photoContain--photoDetails--description{
  font-size: 20px;
  padding: 5px;
  color: white;
  background-color: black;
}
.photoStream--photoContain--photoDetails--street{
  padding: 5px;
  color: white;
  background-color: black;
  border-bottom: 3px #F4D812 dashed;

}


/* upload form! */
.uploadform--uploadformcontain{
  height: auto;
  width: 500px;
  display: flex;
  flex-direction: column;
  margin: 10% auto;
  align-content: center;
  border-radius: 8px;
  border: 15px dashed black;
  padding: 20px;
  background-color: rgba(17, 6, 39, 0.5);
}
.uploadform--uploadform--url{
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: space-around;
  font-size: 24px;
  color: white;
}
#photoSelect{
  padding-left: 160px;
  height: 40px;
  color: transparent;
}
.uploadform--uploadform--description{
  display: flex;
  flex-direction: column;
  align-self: center;
  font-size: 18px;
  color: white;
}
#photoDescription{
  padding-left: 40px;
  height: 40px;
  width: 250px;
  border-radius: 8px;
  background-color: lightgray;
  padding: 0;
}
/* #photoDescription[type=text]:focus{
  border-color: 3px solid yellow;
} */
.uploadform--uploadform--street{
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-top: 20px;
  font-size: 18px;
  color: white;
}
#photoStreet{
  width: 250px;
  border-radius: 8px;
  background-color: lightgray;
}
.uploadform--uploadform--crossstreet{
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-top: 20px;
  font-size: 18px;
  color: white;
}
#photoCross{
  width: 250px;
  border-radius: 8px;
  background-color: lightgray;
}
.uploadform--uploadform--button{
  display: flex;
  align-self: center;
}
#photoSubmit{
  height: 80px;
  width: 80px;
  margin-top: 20px;
  border-radius: 8px;
  font-family: 'Special Elite', cursive;
  font-size: 16px;
}

/* updateForm */

.updateform--updateInfoContain{
  height: auto;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-content: center;
  border-radius: 8px;
  border: 15px dashed black;
  padding: 0 20px 0 20px;
  /* background-color: rgba(17, 6, 39, 0.5); */
}
.updateform--updatePhoto--url{
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: space-around;
  font-size: 24px;  
  color: white;
}

#update--photoSelect{
  padding-left: 160px;
  height: 40px;
  color: transparent;

}
.updateform--updateform--description{
  display: flex;
  flex-direction: column;
  align-self: center;
  font-size: 14px;
  color: white;
}

#update--photoDescription{
  padding-left: 40px;
  height: 40px;
  width: 250px;
  border-radius: 8px;
  background-color: lightgray;
  padding: 0;
}
.updateform--updateform--street{
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-top: 20px;
  font-size: 14px;  
  color: white;
}

.updateform--updateform--crossstreet{
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-top: 20px;
  font-size: 14px;
  color: white;
}
#update--infoSubmit{
  height: 60px;
  width: 60px;
  margin-top: 20px;
  border-radius: 8px;
  font-family: 'Special Elite', cursive;
  font-size: 12px;
}
#update--deleteButton{
  height: 40px;
  width: 180px;
  /* margin-top: 20px; */
  border-radius: 8px;
  font-family: 'Special Elite', cursive;
  font-size: 16px;
  color: red;
}
#update--photoStreet{
  width: 250px;
  border-radius: 8px;
  background-color: lightgray;
}

#update--photoCross{
  width: 250px;
  border-radius: 8px;
  background-color: lightgray;
}

/* singlePhoto */

.singlePhoto{
  width:80%;
  margin: 0 auto;
}

.singlePhoto--photoContain{
  display: flex;
  flex-direction: row;
  align-items: center;

  overflow: scroll;
  width: 80%;
  margin: 0 auto;
  background-color: black;
  color: white;
  padding: 50px 0 50px 0;

  
}
.singlePhoto--photoContain--photo{
  border: 3px #F4D812 solid;
  margin-bottom: 20px;
}
.singlePhoto--photoContain--photoDetails{
  display: flex;
  flex-direction: column;
}
.singlePhoto--photoContain--photoDetails--description{
font-size: 20px;
padding-bottom: 10px;
}
.singlePhoto--photoContain--photo{
  max-width: 300px;
  height: auto;
  margin-left: 55px;
  border-radius: 10px;
}
.singlePhoto--photoContain--photoUD{
  margin: 0 auto;
}
.singlePhoto--photoContain--photoUD--update{
  margin-right: 0 auto;
}
